* {
  background-color: white;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media ( prefers-reduced-motion : no-preference ) {

  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }

}

.App-header {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 100vh;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {

  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.page {
  display: flex;
}

.page section {
  display: block;
}

header {
  background-color: red;
  height: 180px;
  min-width: 80%;
  text-align: center;
}

.searchSection {
  background-color: red;
  bottom: 150px;
  position: relative;
}

.searchSection h1 {
  background-color: red;
  color: white;
  font-size: 30px;
  margin: auto;
}

.textInput {
  border: solid red;
  border-radius: 10px;
  margin: auto;
  margin-right: 5px;
  padding: 20px;
  width: 80%;
}

.buttonInput {
  background-color: lightgray;
  border: solid lightgray;
  border-radius: 10px;
  opacity: 0.8;
  padding: 15px;
}

.buttonInput:hover {
  opacity: 1;
}

.productsPage {
  background-color: whitesmoke;
  border: solid lightgray;
  border-radius: 5px;
  bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  min-width: 80%;
  position: relative;
}

.productsPage .product {
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 3px 3px 3px black;
  margin: 21px;
  text-align: center;
  width: 200px;
}

.productsPage .product img {
  max-width: 150px;
}

.categoryPage {
  background-color: whitesmoke;
  min-width: 250px;
  padding: 10px;
}
